= render partial: "parts/flash"
= render partial: 'tops_header'
- if logged_in?
	= render partial: 'tops_category'
- else
	= render partial: 'parts/concept'
= render partial: 'tops_list'
= render partial: 'parts/footer'