.discard{
	height: 500px;
	&_wrap{
		h2{
			font-weight: bold;
		}
		margin-top: 40px;
		text-align: center;
		&_content{
			width: 50%;
			margin: 40px auto;
			padding-top: 30px;
			background-color: #d3d3d3;
			&_button{
				font-size: 20px;
				display: inline-block;
				margin: 40px;
				padding: 20px 70px;
				color: #fff;
				background-color: #FF3300;
				&:hover{
					color: #fff;
					text-decoration: none;
					background-color: red;
				}

			}
		}
	}
}