//flash
.uk-alert{
	margin: 0;
}
//errors_message
.field_with_errors{
	input,textarea{
		border: 1px solid red !important;
		&:focus{
			border-bottom: 1px solid red;
			box-shadow: none !important;
		}
	}
}
#error_explanation{
	width: 90%;
	background-color: rgba(255, 79, 80,0.2);
	border: 3px solid #FF0000;
	border-radius: 10px;
	margin: 40px auto;
	.alert-danger{

	}
}