@mixin button($color:rgba(0,0,0,0)){
	display: block;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: $color;
	color: #000000;
}
@mixin side_border(){
	padding: 10px 0;
	border-bottom: 1px solid rgba(0,0,0,0.6);
}
@mixin head_center($top: 0,$left: 0){
	top: $top;
	left: $left;
	position: absolute;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	margin: auto;
}