@mixin button($color:rgba(0,0,0,0)){
	display: block;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: $color;
	color: #000000;
}

@mixin side_border(){
	padding: 10px 0;
	border-bottom: 1px solid rgba(0,0,0,0.6);
}

@mixin head_center($top: 0,$left: 0){
	top: $top;
	left: $left;
	position: absolute;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	margin: auto;
}

@mixin card_list4($width: 100%,$size: 23%){
	.uk-child-width-1-4{
		width: $width;
		margin: 0 auto;
		.uk-card{
			width: $size;
			margin: 10px;
			&-media-top{
				img{
					width: 100%;
					height: 150px;
				}
			}
			&-body{
				a{
					width: 100%;
					margin: 0;
					word-wrap: break-word;
					font-size: 15px;
					font-weight: bold;
					display: inline-block;
					height: 60px;
				}
				&-title{
					width: 100%;
					margin: 0;
					word-wrap: break-word;
					font-size: 15px;
					font-weight: bold;
					display: inline-block;
					height: 60px;
				}
				&-text{
					display: flex;
					margin-top: 30px;
					justify-content: space-between;
					p{
						margin-bottom: 0;
					}
				}
			}
		}
		.uk-card-default{
			padding: 0;
		}
	}
}

@mixin category_sidebar(){
	&_cat{
		&_title{
			display: flex;
			h3{
				margin: 0;
				font-size: 20px;
				font-weight: bold;
			}
			.fa-bars{
				font-size: 25px;
				margin-right: 10px;
				color: #a1a1a1;
			}
			
		}
		ul{
			list-style-type: none;
			padding: 0;
			li{
				display: flex;
				justify-content: space-between;
				padding: 10px 0;
				border-bottom: 1px solid #D3D3D3;
				a{
					color: #8f8f8f;
				}
				.fa-chevron-right{
					line-height: 25px;
					color: #a1a1a1;
				}
			}
		}
	}
}
@mixin form_shape($size : 100%){
	margin: 5px 0;
	width: $size;
	height: 40px;
	font-size: 15px;
	border: solid 2px #d3d3d3;
	border-radius: 5px;
	outline: none;
}
@mixin textarea_shape($width: 100%,$height: 500px){
	width: $width;
	height: $height;
	font-size: 18px;
	border-radius: 10px;
	border: solid 2px #d3d3d3;
	outline: none;
}

