@import 'mixin';
.room{
	padding: 50px 0;
	background-color: #fcfcf0;
	&_first{
		width: 80%;
		height: 300px;
		form{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 60%;
			margin: 0 auto;
			textarea{
				@include textarea_shape(100%,200px);
			}
			.room_submit{
				margin-top: 30px;
				width: 100px;
				height: 50px;
				border: none;
				border-radius: 5px;
				background-color: #2ccc2c;
				color: #fff;
				font-size: 15px;
				cursor: pointer;
				font-weight: bold;
				&:hover{
					background-color: #1f991f;
				}
			}
		}
	}
	&_body{
		width: 700px;
		margin: 50px auto;
		background-color: #fff;
		&_mes{
			display: flex;
			padding: 20px 20px 0 20px;
			height: 150px;
			&_top{
				width: 100px;
				img{
					width: 80px;
					border-radius: 50%;
				}
				p{
					color: #2ccc2c;
				}
			}
			&_cont{
				p{
					word-wrap: break-word;
					width: 100%;
				}
			}
		}
		&_del{
			display: flex;
			border-bottom: 1px solid #d9d9d9;
			justify-content: flex-end;
			padding: 10px;
			a{
				color: #2ccc2c;
			}
		}
	}
}