@import "mixin";
@import "media";
//show
.myservice_top{
	height: 700px;
	background-color: #f2f2f2;
	border-top: 1px solid #E0E0E0;
	&_sec{
		display: flex;
		width: 90%;
		margin: 0 auto;
		padding-top: 30px;
		&_l{
			margin-left: 20px;
			width: 800px;
			img{
				width: 100%;
				height: 600px;
			}
		}
		&_r{
			padding: 30px;
			margin-left: 20px;
			background-color: #fff;
			h1{
				font-size: 30px;
				text-align: center;
				font-weight: lighter;
				word-wrap: break-word;
				margin: 0;
				padding: 0;
				color: #6B6B6B;
			}
			h2{
				font-weight: bold;
				margin: 10px;
				text-align: center;
			}
			&_buy{
				text-align: center;
				margin-top: 70px;
				&_button{
					display: inline-block;
					margin-bottom: 40px;
					padding: 20px 80px;
					background-color: #FF3300;
					color: #fff;
					.fa-shopping-cart{
						margin-right: 10px;
					}
					.fa-edit{
						margin-right: 10px;
					}
					&:hover{
						background-color: red;
						color: #fff;
						text-decoration: none;
					}
				}
				&_delete{
					display: inline-block;
					margin-bottom: 40px;
					padding: 20px 80px;
					background-color: #b3b3b3;
					color: #fff;
					.fa-trash{
						margin-right: 10px;
					}
					&:hover{
						background-color: #919191;
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}
}
.myservice_contents{
		margin-top: 80px;
	&_data{
		&_sec{
			height: 700px;
			h2{
				font-size: 20px;
				font-weight: bold;
				padding-bottom: 20px;
				margin-bottom: 70px;
				border-bottom: 2px solid #cce4ff;
			}
			&_wrap{
				display: flex;
				margin-bottom: 30px;
				&_title{
					h5{
						width: 100px;
						font-weight: bold;
						margin-right: 100px;
					}
					p{
						text-align: left;
						width: 100%;
					}
				}
				&_detail{
					width: 500px;
					word-wrap: break-word;
				}
			}
		}
	}
	&_comment{
		margin-top: 80px;
		height: 300px;
		h2{
			font-size: 20px;
			font-weight: bold;
			padding-bottom: 20px;
			margin-bottom: 70px;
			border-bottom: 2px solid #cce4ff;
		}
		&_title{
			h4{
				font-size: 15px;
				font-weight: bold;
			}
		}
	}
	&_user{
		width: 300px;
		margin-left: 30px;
		height: 800px;
		text-align: center;
		padding: 0;
		background-color: #CCE4FE;
		h5{
			margin: 40px 0;
			font-weight: bold;
		}
		&_sec{
			width: 80%;
			margin: 0 auto;
			padding: 30px 0;
			height: 600px;
			background-color: #fff;
			img{
				border-radius: 50%;
			}
			&_name{
				margin: 10px 0;
			}
			&_intro{
				margin-left: 10px;
				text-align: left;
				h5{
					margin-bottom: 0;
				}
				p{
					font-size: 12px;
					height: 300px;
				}
			}
		}
	}
}