@import "mixin";
//header
.flash_message{
	text-align: center;
}
.uk-position-relative{
	background: #000;
	img{
		width: 100%;
		height: 700px;
		display: block;
 		opacity: .6;
	}
	.nav-color{
		color: rgba(255, 255, 255,0.8) !important;
	}
	.uk-open{
		color: #ffffff !important;
	}
	.easy-login{
		border: none;
		font-size: 14px;
		color: rgba(153,153,153,1);
		margin-top: 5px;
		cursor: pointer;
		&:hover{
			color: #666;
		}
		&:focus{
			outline: none;
		}
	}
	.header-contents{
		@include head_center(50%,50%);
		h1{	
			font-size: 40px;
			letter-spacing: 4px;
			font-weight: bold;
			color: #ffffff;
		}
		p{
			margin-bottom: 100px;
			color: #ffffff;
		}
		&__buttons{
			display: flex;
			flex-direction: column;	
			text-align: center;
			&__login{
				@include button(rgba(255,255,0,0.9));
				&:hover{
					background-color: rgba(255,255,0,1);
					text-decoration: none;
					font-weight: bold;
				}
			}
			&__registration{
				@include button(rgba(255,255,255,0.9));
				&:hover{
					background-color: rgba(255,255,255,1);
					text-decoration: none;
					font-weight: bold;
				}
			}
			&__search{
				@include head_center(80%,40%);
				width: 550px;
				height: 50px;
				font-size: 20px;
				outline: none;
				&__button{
					@include head_center(80%,145%);
					width: 30%;
					min-height: 50px;
					line-height: 50px;
					background-color: rgba(255,255,0,0.9);
					border:none;
					outline: none;
					&:hover{
						background-color: rgba(255,255,0,1);
						cursor: pointer;
					}
					.fa-search{
						line-height: 50px;
						font-size: 20px;
						width: 30px;
					}
				}	
			}
			&__click{
				&__supply,&__demand{
					display: inline-block;
					background-color: #fff;
					padding: 20px 50px;
					position: absolute;
					top: 150%;
					border-radius: 5px;
					text-decoration: none;
					font-weight: bold;	
				}
				&__supply{
					border: 2px solid #22B8CF;
					left: -40%;
					color: #22B8CF;
					&:hover{
						background-color: #22B8CF;
						color: #fff;
					}
				}
				&__demand{
					border: 2px solid orange;
					right: -40%;
					color: orange;
					&:hover{
						background-color: orange;
						color: #fff;
					}
				}
			}
		}
	}
}

//common_header
.uk-navbar-nav{
	li{
		margin-right: 10px;
	}
	.roll-button{
		background-color: #000;
		border-radius: 50%;
		color: rgba(0, 0, 0,0.7);
		&:hover{
			color: rgba(0, 0, 0,1);
			font-weight: bold;
		}
	}
	.button_red{
		background-color: rgba(255,0,0,0.9);
		padding: 0 10px;
	}
	.button_yellow{
		background-color: rgba(255,255,0,0.9);
		padding: 0 10px;
	}
	.button_green{
		background-color: rgba(0,128,0,0.9);
	}
	.button_blue{
		background-color: rgba(65, 105, 225,0.9);
		padding: 0 23px;
	}
	.button_purple{
		background-color: rgba(139, 0, 139,0.9);
		padding: 0 25px;
	}
	.button_orange{
		background-color: rgba(255,133,0,0.9);
		padding: 0 10px;
	}
	.button_edit{
		padding: 0 30px;
	}
}


//concept
.concept{
	margin: 50px 0 30px ;
	width: 100%;
	height: 500px;
	text-align: center;
	&__images{
		width: 80%;
		margin: 80px auto 0;
		display: flex;
		justify-content: space-between;
		&__section{
			figure{
				img{
					width: 70%;
					height: 70%;
				}
				figcaption{
					margin-top: 20px;
					font-size: 14px;
				}
			}
		}
	}
}
.border-icon{
	margin-bottom: 50px;
	font-size: 30px;
	text-align: center;
	color: #22B8CF;
}
//top-service-index
.card-list{
	margin-bottom: 50px;
	h2{
		text-align: center;
	}
	@include card_list4(80%,23%);
}

//top-category-index
.category_wrapper{
	margin: 40px auto;
	&_sidebar{
		@include category_sidebar();
		&_main{
			h5{
				font-weight: bold;
			}
			&_page{
				display: flex;
				justify-content: space-between;
				.page_left{
					font-size: 12px;
				}
			}
			@include card_list4(100%,22%);
			.uk-card-body{
				padding: 5px;
			}
		}
	}
}

//footer
.footer__copyright{
	width: 100%;
	height: 15%;
	background-color: #000000;
	padding: 20px 0;
	text-align: center;
}