@import "mixin";
.mypage{
	margin: 50px auto;
	&_sec{
		@include category_sidebar();
		//mypage
		&_r{
			&_icon{
				border-bottom: 1px solid rgba(0,0,0,0.6);
				img{
					width: 80%;
					max-height: 280px;
					border-radius: 10px;
					border: 1px solid #000;
				}
				p{
					font-size: 25px;
				}
			}
			&_introduction{
				@include side_border;
				height: 150px;
				word-wrap: break-word;
			}
			&_edit{
				@include side_border;
				.fa-address-card{
					color: #666666;
				}				
			}
			&_point{
				@include side_border;				
				h6,p{
					margin: 5px 0;
				}
			}
		}
		&_l{
			&_score{
				display: flex;
				height: 350px;
				&_circle{
					display: flex;
					align-items: center;
					margin: 0 auto;
					width: 300px;
					height: 300px;
					text-align:center;
					border-radius: 50%;
					background: -moz-linear-gradient(left, #84fab0 0%, #8fd3f4 100%);
					background: -webkit-linear-gradient(left, #84fab0 0%, #8fd3f4 100%);
					background: linear-gradient(to right, #84fab0 0%, #8fd3f4 100%);
					&_data{
						width: 250px;
						height: 250px;
						margin: 0 auto;
						border-radius: 50%;
						background-color: #fff;
						h5{
							padding-top: 30px;
							position: relative;
							margin: 0;
							display: inline-block;
							font-size: 70px;
							&:before{
								content: '';
								position: absolute;
								left: 50%;
								bottom: 0;/*線の上下位置*/
								display: inline-block;
								width: 120px;/*線の長さ*/
								height: 2px;/*線の太さ*/
								-webkit-transform: translateX(-50%);
								transform: translateX(-50%);/*位置調整*/
								background: -moz-linear-gradient(left, #84fab0 0%, #8fd3f4 100%);
								background: -webkit-linear-gradient(left, #84fab0 0%, #8fd3f4 100%);
								background: linear-gradient(to right, #84fab0 0%, #8fd3f4 100%);
								border-radius: 2px;/*線の丸み*/
							}
						}	
					}
				}
			}
			&_tags{
				display: flex;
				justify-content: space-between;
				a{
					text-align: center;
					width: calc(100% / 3);
					height: 50px;
					line-height: 50px;
					padding: 10px;
					color: #000;
					&:hover{
						background-color: #D3D3D3;
						border-top: 3px solid rgb(255, 215, 0);
						text-decoration: none;
					}
				}
			}
			.tag-active{
				background-color: #D3D3D3;
				border-top: 3px solid rgb(255, 215, 0);
			}
			&_tablelist{
				article{
					display: flex;
					padding: 10px 10px 15px 10px;
					border-bottom: 1px solid #D3D3D3;
					img{
						width: 48px;
						height: 48px;
						margin-right: 10px;
					}
					.article_body{
						&_info{
							p{
								margin: 0;
							}
						}
					}
				}
			}
		}
		//profile_edit
		&_edit{
			img{
				width: 200px;
				height: 200px;
				display: block;
				margin: 0 auto;
				border: solid 1px #000;
				border-radius: 50%;
			}
			&_form{
				width: 90%;
				margin: 40px auto 40px;
				display: flex;
				label{
					display:block;
					font-size: 12px;
				}
				small{
					display: block;
					font-size: 10px;
				}
				&_nickname,&_email,&_name,&_image{
					input{
						@include form_shape(90%);
					}
				}
				&_introduction{
					textarea{
						@include textarea_shape(95%,150px);
					}
				}
				&_button{
					width: 20%;
					margin: 0 0 0 auto;
					&_submit{
						display       : inline-block;
						border-radius : 10px;
						font-size     : 12pt;
						text-align    : center;
						cursor        : pointer;
						padding       : 15px 25px;
						background    : rgba(68, 199, 154,0.8);
						color         : #ffffff;
						line-height   : 1em;
						&:hover{
						background    : rgba(68, 199, 154,1);
						}
					}
				}
			}
		}
	}

}